
process {   
    cpus = 1   
    memory = '2G'   
    errorStrategy = { task.attempt <= 2 ? "retry" : "ignore" }   
    maxRetries = 2 
    maxErrors = '-1'
  
    withLabel: small{
      cpus = 1
      memory = { 2.GB * task.attempt }
      time = {4.h * task.attempt }
    }
    withLabel: medium{
      cpus = 1
      memory = { 4.GB * task.attempt }
      time = { 8.h * task.attempt }
    }
    withLabel: large{
      cpus = 2
      memory = { 4.GB * task.attempt }
      time = { 12.h * task.attempt }
    }
    withLabel: largemem{
      cpus = 1
      memory = { 12.GB * task.attempt }
      time = { 96.h * task.attempt }
    }
    withLabel: compile{
      cpus = 4
      memory = { 4.GB * task.attempt }
      time = {4.h * task.attempt }
    }
}
