/*
 * ------------------------------------------------------
 *  Based on the nf-core/rnaseq Nextflow base config file
 * ------------------------------------------------------
 */


process {

  cpus = 1

}

/*
 * ------------------------------------------------------
 *  Based on the nf-core/rnaseq Nextflow base config file
 * ------------------------------------------------------
 */

executor {
	name = 'local'
	queueSize = 6
	cpus = 6
	memory = '12 GB'
}


process {

  cpus = 1

  
  // Process-specific resource requirements
  withName: transpose {
    cpus = 1
  }
  withName: makeBSlists {
    cpus = 1
  }
  withName: ibs {
    cpus = 1
  }
  withName: concatenateBootstrapReplicates {
    cpus = 1
  }
  withName: consensus {
    cpus = 1
  }
  withName: fixTree {
    cpus = 1
  }
  withName: graphlan {
    cpus = 1
  }

}


