params {
    pg = 'PATH'
    genome_pool = 'PATH'
    contigs = 'PATH'
    scaffolds = 'PATH'
    repetitiveness = 'PATH'
    reference = 'REFNAME'
    proteins = 'PATH'
    flanks = 1000
    gap_flanks = 1000
    novelty_cutoff = 0.95
    outfolder = 'outdir'
    frc = false
    help = false
    publish_dir_mode = 'copy'
    extra_cluster_options = ''
}
