params {
    variants = "file.vcf.gz"
    idx = "file.vcf.gz.tbi"
    hal = 'bovinae.hal'
    reference = 'hereford'
    target = "Anc3"
    outdir = 'results' 
    algorithm = 'mutyper'
    imputation = 'shapeit4'
    species = 'bos_taurus'
    k = '3,5,7'
    neval = 10000
    filter = 'n'
    annotation = false
    pops_folder = 'PATH'
    relate = false
    shapeit=false
    beagle=false
    refinedibd=false
    vep_cache=false
    ibd_params= 'window=10 trim=0.015 length=0.2 lod=4'
    custom_vep=false
    gff='PATH'
    help = false
    publish_dir_mode = 'copy'
}
