[General]
max_n_open_files = 1000

[Unzip]
input_fofn=input.fofn
input_bam_fofn=input_bam.fofn

[job.defaults]
job_type=sge
pwatcher_type=blocking
JOB_QUEUE=default
MB=8192
NPROC=4
njobs=8
submit = qsub -S /bin/bash -sync y -V  \
  -N ${JOB_NAME}     \
  -o "${JOB_STDOUT}" \
  -e "${JOB_STDERR}" \
  -l h_vmem=${MB}M   \
  -pe sharedmem ${NPROC}   \
  "${JOB_SCRIPT}"

[job.step.unzip.track_reads]
njobs=240
NPROC=4
MB=16000
[job.step.unzip.blasr_aln]
njobs=320
NPROC=1
MB=60000
[job.step.unzip.phasing]
njobs=60
NPROC=1
MB=10000
[job.step.unzip.hasm]
njobs=60
NPROC=8
MB=32000
[job.step.unzip.quiver]
njobs=240
NPROC=8
MB=8000
