#### Input
[General]
input_fofn=input.fofn
input_type=raw
#input_fofn=input2.fofn
#input_type=preads
pa_DBdust_option=
pa_fasta_filter_option=streamed-median
target=assembly
skip_checks=False
LA4Falcon_preload=false

#### Data Partitioning
pa_DBsplit_option=-x500 -s270
ovlp_DBsplit_option=-s270

#### Repeat Masking
pa_HPCTANmask_option=
#no-op repmask param set
pa_REPmask_code=0,8;0,8;0,8

####Pre-assembly
genome_size=2700000000
seed_coverage=30
length_cutoff=-1    
pa_HPCdaligner_option=-v -B128 -M24
pa_daligner_option= -k14 -e0.75 -l1200 -h256 -w8 -s100
falcon_sense_option=--output-multi --min-idt 0.70 --min-cov 4 --max-n-read 200
falcon_sense_greedy=False

####Pread overlapping
ovlp_HPCdaligner_option=-v -B128 -M24 
ovlp_daligner_option=-k24 -e.92 -l1800 -h600 -s100

####Final Assembly
length_cutoff_pr=1000
overlap_filtering_setting=--max-diff 100 --max-cov 100 --min-cov 2
fc_ovlp_to_graph_option=


[job.defaults]
job_type=sge
pwatcher_type=blocking
JOB_QUEUE=default
MB=64768
NPROC=2
njobs=4
submit = qsub -S /bin/bash -sync y -V \
  -N ${JOB_NAME}      \
  -o "${JOB_STDOUT}"  \
  -e "${JOB_STDERR}"  \
  -pe sharedmem ${NPROC}    \
  -l h_vmem=${MB}M    \
  "${JOB_SCRIPT}"

[job.step.da]
NPROC=4
MB=10000
njobs=240
[job.step.la]
NPROC=4
MB=10000
njobs=240
[job.step.cns]
NPROC=8
MB=10000
njobs=240
[job.step.pda]
NPROC=4
MB=10000
njobs=240
[job.step.pla]
NPROC=4
MB=10000
njobs=240
[job.step.asm]
NPROC=4
MB=20000
njobs=1
